@model Proyecto.Models.PROJECT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PROJECT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STARTING_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTING_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FINAL_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINAL_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTIONS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTIONS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROJECT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERS.ROLE_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERS.ROLE_TYPE)
        </dd>

    </dl>
</div>