@model IEnumerable<Proyecto.Models.PROJECT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PROJECT_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PROJECT_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PROJECT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PROJECT_ID }) |
            <a href='@Url.Action("Details", new { id=item.PROJECT_ID })' class="ajax">Details</a>
        </td>
    </tr>
}

</table>


<div id="TargetDiv"></div>